# Python
__pycache__
*.pyc
*.egg-info
dist
.venv

# Log
*.log
*.log.*
*.json
*.jsonl
!/playground/**/*.json
!/playground/**/*.jsonl
slurm-*.out

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

# Data
*.pkl
*.csv

# Build
build
