# Python
__pycache__
*.pyc
*.egg-info
dist
.venv

# Log
*.log
*.log.*
*.json
!/playground/**/*.json
slurm-*.out

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

# Data
*.pkl
*.csv

# Build
build
